<CycloneDDS>
  <Domain id="any">
    <General>
      <Interfaces>
        <NetworkInterface name="wg0" multicast="false"/>
      </Interfaces>
      <AllowMulticast>false</AllowMulticast>
    </General>

    <Discovery>
      <ParticipantIndex>auto</ParticipantIndex>
      <Peers>
      </Peers>
    </Discovery>

    <Tracing>
      <Verbosity>severe</Verbosity>
      <OutputFile>stdout</OutputFile>
    </Tracing>
  </Domain>
</CycloneDDS>
